<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.bom.dto.FreetableDto" alias="FreetableDto" />
		<typeAlias type="com.bom.dto.FreecommDto" alias="FreecommDto" />
		<typeAlias type="com.bom.dto.LoginDto" alias="LoginDto" />
		<typeAlias type="com.bom.dto.RegistDto" alias="RegistDto" />
	</typeAliases>

	<mappers>
		<mapper resource="/sqls/Freetable_mapper.xml" />
		<mapper resource="/sqls/Freecomm_mapper.xml" />
		<mapper resource="/sqls/Login_mapper.xml" />
		<mapper resource="/sqls/Regist_mapper.xml" />
	</mappers>

</configuration>
