<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Eduoff_mapper">
  
  <resultMap type="com.bom.dto.EduoffDto" id="EduoffDtoMap">
  	<result column="COURSE_ID" property="course_id"/>
  	<result column="COURSE_NM" property="course_nm"/>
  	<result column="COURSE_GUBUN" property="course_gubun"/>
  	<result column="COURSE_REQUEST_STR_DT" property="course_request_str_dt"/>
  	<result column="COURSE_REQUEST_END_DT" property="course_request_end_dt"/>
  	<result column="COURSE_STR_DT" property="course_str_dt"/>
  	<result column="COURSE_END_DT" property="course_end_dt"/>
  	<result column="COURSE_TARGET" property="course_target"/>
  	<result column="CAPACITY" property="capacity"/>
  	<result column="COURSE_APPLY_URL" property="course_apply_url"/>
  </resultMap>
  
  <select id="EduoffName" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_nm" value="'%' +course_nm+ '%'"/>
 	 SELECT * 
 	 FROM EDUOFF_TB
 	 WHERE COURSE_NM LIKE #{course_nm}  
  </select>
  
  <select id="NameCount" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_nm" value="'%' +course_nm+ '%'"/>
 	 SELECT COUNT(*) AS COURSE_ID
 	 FROM EDUOFF_TB
 	 WHERE COURSE_NM LIKE #{course_nm}  
  </select>
  
  
  
  <select id="EduPreStart" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_request_str_dt" value="'%' +course_request_str_dt+ '%'"/>
 	 SELECT * 
 	 FROM EDUOFF_TB
 	 WHERE COURSE_REQUEST_STR_DT LIKE #{course_request_str_dt}  
  </select>
  
  <select id="CountPreStart" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_request_str_dt" value="'%' +course_request_str_dt+ '%'"/>
 	 SELECT COUNT(*) AS COURSE_ID 
 	 FROM EDUOFF_TB
 	 WHERE COURSE_REQUEST_STR_DT LIKE #{course_request_str_dt}  
  </select>
  
  
  
  <select id="EduStart" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_str_dt" value="'%' +course_str_dt+ '%'"/>
 	 SELECT * 
 	 FROM EDUOFF_TB
 	 WHERE COURSE_STR_DT LIKE #{course_str_dt}  
  </select>
  
   <select id="CountStart" parameterType="map" resultMap="EduoffDtoMap">
  <bind name="course_str_dt" value="'%' +course_str_dt+ '%'"/>
 	 SELECT COUNT(*) AS COURSE_ID 
 	 FROM EDUOFF_TB
 	 WHERE COURSE_STR_DT LIKE #{course_str_dt}  
  </select>
  

  
  
  
  
  
  
  </mapper>