<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Freetable_mapper">

<resultMap type="com.bom.dto.FreetableDto" id="FreetableDtoMap">
	<result column="FREETABLE_NO" property="freetable_no"/>           	 
	<result column="FREETABLE_ID" property="freetable_id"/>           	
	<result column="FREETABLE_TITLE" property="freetable_title"/>      
	<result column="FREETABLE_CONTENT" property="freetable_content"/>  
	<result column="FREETABLE_REGDATE" property="freetable_regDate"/>   		<!-- 작성일-->
	<result column="FREETABLE_READCOUNT" property="freetable_readCount"/> 		<!-- 조회수(0부터)-->	
	<result column="FREETABLE_GROUPNO" property="freetable_groupNo"/>       	<!-- 그룹번호 -->
	<result column="FREETABLE_STEP" property="freetable_step"/>         		<!-- 그룹순서(1부터) -->
	<result column="FREETABLE_TITLETAB" property="freetable_titleTab"/>         <!-- 제목탭(0부터) -->
	<result column="FREETABLE_DELFLAG" property="freetable_delFlag"/>           <!-- 삭제여부(Y/N) -->
</resultMap>

<!-- 페이징 -->
<select id="paging" parameterType="map" resultMap="FreetableDtoMap">
	SELECT *
		FROM (SELECT ROWNUM AS "RW", A.* 
		FROM (SELECT * FROM FREETABLE ORDER BY FREETABLE_GROUPNO DESC, FREETABLE_STEP) A)
	WHERE RW BETWEEN #{startPost} AND #{endPost}
</select>

<select id="selectFTAll" parameterType="map" resultMap="FreetableDtoMap">
	<![CDATA[
	SELECT *  
		FROM(SELECT ROWNUM AS RNUM,B.* 
		FROM(SELECT * FROM FREETABLE ORDER BY FREETABLE_NO DESC)B) 
	WHERE RNUM>=#{startPost} 
      AND RNUM<=#{endPost} 
	]]>
</select>

<select id="getTotalCnt" resultType="Integer">
	SELECT NVL(COUNT(*),0)AS CNT
	FROM(SELECT * FROM FREETABLE)
</select>


<!--CRUD -->
<select id="selectAll" resultMap="FreetableDtoMap">
	SELECT 
		FREETABLE_NO,FREETABLE_ID,
		FREETABLE_TITLE,FREETABLE_CONTENT,
		FREETABLE_REGDATE,FREETABLE_READCOUNT,
		FREETABLE_GROUPNO,FREETABLE_STEP,
		FREETABLE_TITLETAB,FREETABLE_DELFLAG		
	FROM FREETABLE
	ORDER BY FREETABLE_GROUPNO DESC, FREETABLE_STEP
</select>


<select id="selectOne" parameterType="int" resultMap="FreetableDtoMap">
	SELECT *	
	FROM FREETABLE
	WHERE FREETABLE_NO=#{freetable_no}
</select>


<insert id="insert" parameterType="map">
	INSERT INTO	FREETABLE 
	VALUES
		(FREETABLE_NO_SEQ.NEXTVAL,
		#{member_id}, 
		#{freetable_title}, 
		#{freetable_content},
		SYSDATE,
		0,
		FREETABLE_GROUPNO_SEQ.NEXTVAL,
		1,
		0,
		'N')
</insert>


<update id="update" parameterType="FreetableDto"> 
	UPDATE FREETABLE 
	SET FREETABLE_TITLE = #{freetable_title}, 
		FREETABLE_CONTENT = #{freetable_content}, 
		FREETABLE_REGDATE = SYSDATE 
	WHERE FREETABLE_NO = #{freetable_no}
</update>

<delete id="delete" parameterType="int">
	DELETE FROM FREETABLE 
	WHERE FREETABLE_NO=#{freetable_no}
</delete>




<!-- 답글 -->
<!-- 두번째답글달기전에 기존답글 step밀어주기 -->
<update id="updateStep" parameterType="int"> 
	UPDATE FREETABLE 
	SET FREETABLE_STEP=FREETABLE_STEP+1 
	WHERE 
	 	FREETABLE_GROUPNO=#{freetable_groupNo} 
		 AND FREETABLE_STEP>#{freetable_step}
</update>

	<!-- 답글-2 : 새로운 답글 insert 넣기 -->
<insert id="insertReply" parameterType="FreetableDto">
	INSERT INTO FREETABLE 
	VALUES
		(FREETABLE_NO_SEQ.NEXTVAL,
	 	#{freetable_id},
	 	#{freetable_title},
	 	#{freetable_content},
	 	SYSDATE,
	 	0,
	    #{freetable_groupNo},
	    #{freetable_step},
	    #{freetable_titleTab},
	    'N')
</insert>


<!-- 조회수 -->
<update id="updateReadCount">
	UPDATE FREETABLE 
	SET FREETABLE_READCOUNT=FREETABLE_READCOUNT+1 
	WHERE FREETABLE_NO=#{freetable_no}
</update>



<!-- 검색 -->

<select id="searchList" parameterType="String" resultMap="FreetableDtoMap">
SELECT * 
FROM FREETABLE
WHERE ${searching} LIKE '%'||#{keyword}||'%'
</select>




</mapper>









